/*   NetHack may be freely redistributed.  See license for details. */

/*  Resources for Windows 3.x Nethack */

#include "..\include\win32api.h"
#include "..\include\nhwin32.h"
#include "..\include\patchlevel.h"

NHIcon ICON NetHack_.ico

NHMenu MENU
BEGIN
        POPUP "&File"
        {
                MENUITEM "&Save + Exit",    IDM_SAVE,   GRAYED
                MENUITEM SEPARATOR
                MENUITEM "&Quit",           IDM_QUIT,	GRAYED
        }
        POPUP "&Options"
        {
                MENUITEM "&Game",          IDM_GAMEOPT,  GRAYED
                MENUITEM "&Display",       IDM_DISPOPT,  GRAYED
                MENUITEM "&Environment",   IDM_ENVOPT,   GRAYED
        }
        POPUP "&Help"
        {
                MENUITEM "&Contents",               IDM_HELPCONTENTS
                MENUITEM "&Search for Help On...",  IDM_HELPSEARCH
                MENUITEM "&How to Use Help",        IDM_HELPHELP
                MENUITEM SEPARATOR
                MENUITEM "&About NetHack...",       IDM_ABOUT
        }
END


AboutMenu MENU
{
	POPUP "Information"
	{
		MENUITEM "About Box...", IDM_ABOUT
		MENUITEM "Exit", IDM_EXIT
	}
}

AboutDiaBox DIALOG 6,18,160,100
	LANGUAGE LANG_NEUTRAL,SUBLANG_NEUTRAL
	STYLE DS_MODALFRAME|WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU
	CAPTION "About NetHack"
	FONT 8, "MS Sans Serif"
{
	CTEXT "ABOUT Dialog Box",-1,34,10,91,8
	CTEXT "By",-1,61,25,32,8
	CTEXT "Michael Allison and",-1,38,42,86,8
	CTEXT "The NetHack PC Team",-1,45,59,70,8
	ICON NHIcon ,-1,6,14,18,20
	PUSHBUTTON "Okay",IDOK,58,80,40,14
}


CHAR_SEL_DIALOG DIALOG 51, 22, 108, 134
CAPTION "Select Character Class"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
BEGIN
	CONTROL "Archeologist", IDD_ARCH, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 6, 10, 55, 12
	CONTROL "Barbarian", IDD_BARB, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 6, 25, 45, 12
	CONTROL "Elf", IDD_ELF, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 6, 52, 20, 12
	CONTROL "Healer", IDD_HEAL, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 6, 66, 35, 12
	CONTROL "Knight", IDD_KNIGHT, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 6, 80, 35, 12
	CONTROL "Priest", IDD_PRIEST, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 6, 94, 40, 12
	CONTROL "Rogue", IDD_ROGUE, "BUTTON", BS_RADIOBUTTON | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE, 66, 10, 35, 12
	CONTROL "Samurai", IDD_SAM, "BUTTON", BS_RADIOBUTTON | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE, 61, 24, 40, 12
	CONTROL "Tourist", IDD_TOUR, "BUTTON", BS_RADIOBUTTON | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE, 66, 38, 35, 12
	CONTROL "Valkyrie", IDD_VAL, "BUTTON", BS_RADIOBUTTON | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE, 61, 52, 40, 12
	CONTROL "Wizard", IDD_WIZ, "BUTTON", BS_RADIOBUTTON | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE, 66, 66, 35, 12
	CONTROL "Random", IDD_RAND, "BUTTON", BS_RADIOBUTTON | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE, 63, 80, 38, 12
	CONTROL "Ok", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 6, 113, 24, 14
	CONTROL "Quit", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 77, 113, 24, 14
	CONTROL "Caveman", IDD_CAVEMAN, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 6, 38, 45, 12
END
ASK_NAME_DIAL DIALOG 18, 54, 142, 44
CAPTION ""
STYLE DS_MODALFRAME | WS_POPUP
BEGIN
	CONTROL "Ok", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE, 54, 24, 24, 14
	LTEXT "Who Are You?", -1, 10, 6, 50, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT IDD_NAME, 59, 4, 70, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
END

ENTER_TEXT DIALOG 18, 37, 222, 61
CAPTION ""
STYLE DS_MODALFRAME | WS_POPUP
BEGIN
	LTEXT "Test", IDD_QUESTION, 10, 8, 200, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT IDD_INPUTTEXT, 11, 24, 200, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	DEFPUSHBUTTON "OK", IDOK, 153, 42, 24, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 187, 42, 24, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

OKBUTTON DIALOG 204, 79, 25, 14
CAPTION ""
STYLE WS_POPUP
BEGIN
	DEFPUSHBUTTON "OK", IDOK, 0, 0, 24, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

NHLISTBOX DIALOG 10,10,140,110
CAPTION "NetHack 3.2 Menu"
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
{
	PUSHBUTTON "EXIT", IDM_EXIT, 8, 82, 38, 16,
		   WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LISTBOX IDD_LB1, 66, 5, 63, 33, LBS_NOTIFY | 
		   WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP

}

HACK_COPYRIGHT DIALOG 6, 18, 246, 126
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE
CAPTION "About NetHack for Windows"
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "NetHack", IDD_ABOUT1, 8, 13, 222, 8
    LTEXT           COPYRIGHT_BANNER_A,
                    IDD_ABOUT2, 8, 27, 238, 8
    LTEXT           COPYRIGHT_BANNER_B,
                    IDD_ABOUT3, 8, 35, 224, 8
    LTEXT           COPYRIGHT_BANNER_C,
                    IDD_ABOUT4, 7, 43, 223, 8
    CTEXT           "NetHack 3.2 for Windows", 105, 8, 63, 214, 8
    CTEXT           "Initial MS Windows port by Bill Dyer 1992", IDD_ABOUT5, 8, 78, 
                    215, 8
    CTEXT           "WIN32 port by Michael Allison 1995", IDD_ABOUT6, 8, 94, 212, 8
    CTEXT           "Windows NT port by Michael Allison 1993", IDD_ABOUT7, 8, 86, 
                    211, 8
    PUSHBUTTON      "OK", IDOK, 95, 110, 40, 14
    CONTROL         "", IDD_ABOUT8, "Static", SS_BLACKFRAME, 101, 8, 37, 17
    CONTROL         "", IDD_ABOUT9, "Static", SS_BLACKFRAME, 70, 59, 92, 16
END


