# A '#' at the beginning of a line means the rest of the line is a comment.

# This configuration file is set up for two cases, a person with a hard
# disk as drive DH0:, and 1 person with two floppy disks.  If several people
# are to use it, don't specify "name" or personal prefences like "dogname"
# or "packorder" in OPTIONS.

# To change configuration, comment out the unwanted configurations, and
# remove the comment from the configuration you want.

# Some options to set personal preferences.  If several people are to
# use it, options like these should not be set.
#OPTIONS=name:Janet-V,female,dogname:Fido,fruit:apricot
#OPTIONS=packorder:")[%?+/=!(*0_`,endgame:10t/2a,noverbose

# Other general options
#OPTIONS=time,rest_on_space,nopickup

# The search path for files like record, help, opthelp, etc.
PATH=NetHack:

# My own setup
OPTIONS=name:Rhialto,catname:Killie,time,nopickup

# A hard disk configuration.
#
#HACKDIR=DH0:/games/hack
# The ";n" means don't prompt to insert a disk.
#SAVE=;n
#RAMDISK=Ram:
#LEVELS=DH0:games/hack/bones
#SAVE=DH0:/games/hack/bones;n

# A 2-floppy configuration.
#
HACKDIR=NetHack:
LEVELS=df1:
SAVE=df1:save
RAMDISK=Ram:

# The 32 GRAPHICS characters (0-31) are:
# stone, vertical wall, horizontal wall, top left corner, top right corner, 
# bottom left corner, bottom right corner, crosswall, up T wall, down T wall, 
# left T wall, right T wall, vertical beam, horizontal beam, left slant, right
# slant, door, floor, corridor, up stairs, down stairs, trap, web, pool,
# fountain, sink, throne, altar, up ladder, down ladder, vertical drawbridge
# wall, horizontal drawbridge wall 
#
# If you specify less that 32 ASCII values, the remaining characters will be
# set to their respective defaults.
#
# Note that the hack.font has special graphics characters from 192 on.

# An example using the hack.font graphics character set:
#	   ' '  |   -   .   .   `   '   -   -   -   -   -   |   -   \   /   +   .   #   <   >   ^   "   }   {   #   \   _   <   >   #   #
GRAPHICS = 032 192 193 194 195 196 197 198 216 214 215 213 192 193 092 047 198 046 035 060 062 094 034 125 123 035 092 095 060 062 035 035
