# NetHack.cnf file for Windows NT
# A '#' at the beginning of a line means the rest of the line is a comment.
#
# To change the configuration, comment out the unwanted lines, and
# uncomment the configuration you want.


# *** OPTIONS ***
#
OPTIONS=IBMgraphics
#
# Some options to set personal preferences.  Uncomment and change these to
# suit your personal preference.  If several people are to use the same
# configuration, options like these should not be set.
#

#OPTIONS=name:Janet-V,female,dogname:Fido,catname:Morris,fruit:apricot
#OPTIONS=packorder:")[%?+/=!(*0_`,scores:10 top/2 around/own
#
#
# Other general options.  You might also set "silent" so as not to attract
# the boss's attention.
#
OPTIONS=time,rest_on_space,noautopickup,number_pad


# *** HARD DISK CONFIGURATION ***
#
# NetHack for Windows NT defaults to using the same directory as that
# which the executable was loaded from.  If you want, you can override 
# that here.
#
#HACKDIR=c:\games\nethackn
#
#   LEVELS and SAVE default to HACKDIR
#
#LEVELS=c:\games\nethack\bones
#SAVE=c:\games\nethack\bones;n
#
#   appending a ";n" to SAVE means don't prompt to insert a disk.
SAVE=;n

# *** CHARACTER GRAPHICS ***
#
# See the on-line help or the Guidebook for which symbols are in which
# positions.
#
# You can make up your own via these graphics options, but you should still
# set IBMgraphics if you are using IBM graphics characters to get the correct
# processing.
#
# An example using the IBM graphics character set:
#DUNGEON=  032 179 196 218 191 192 217 197 193 194 \
#	   180 195 249 239 239 254 254 249 177 177 \
#	   060 062 060 062 220 190 035 244 247 249 \
#	   247 042 042 186 205 046 035 247
#
#TRAPS=    094 094 094 094 094 094 094 094 094 094 \
#	   094 094 094 094 232 232 232 157 094 094 \
#	   094 094
#
#EFFECTS=  179 196 092 047 042 033 041 040	   \
#	   048 035 064 042			   \
#	   047 045 092 058 058 092 045 047	   \
#	   047 045 092 058 032 058 092 045 047
#
# Some alternatives:
#DUNGEON=  032 186 205 201 187 200 188 206 202 203 \
#	   185 204 249 239 239 254 254 249 177 177 \
#	   060 062 060 062 095 092 035 244 247 249 \
#	   247 042 042 179 196 046 035 247
#
#TRAPS=    094 094 094 094 094 094 094 094 094 094 \
#	   094 094 094 094 094 034 094 094 094 094 \
#	   094 094

