# A '#' at the beginning of a line means the rest of the line is a comment.

# This configuration file is set up for two cases, a person with a hard
# disk as drive DH0:, and 1 person with two floppy disks.  If several people
# are to use it, don't specify "name" or personal prefences like "dogname"
# or "packorder" in OPTIONS.

# To change configuration, comment out the unwanted configurations, and
# remove the comment from the configuration you want.

# Some options to set personal preferences.  If several people are to
# use it, options like these should not be set here - use the command line
# (if playing from CLI) or ToolTypes (if playing from WorkBench)
#OPTIONS=name:Janet-V,female,dogname:Fido,fruit:apricot
#OPTIONS=packorder:")[%?+/=!(*0_`,scores:10t/2a,noverbose

# Other general options
#OPTIONS=time,rest_on_space,noautopickup

# The search path for files like record, help, opthelp, etc.
#PATH=NetHack:
PATH=NetHack:

# My own setup
#OPTIONS=name:Rhialto,catname:Killie,time,noautopickup

# A hard disk configuration.
#
#HACKDIR=DH0:/games/hack
# The ";n" means don't prompt to insert a disk.
#SAVE=;n
#LEVELS=DH0:games/hack/bones
#SAVE=DH0:/games/hack/bones;n

# A development HD configuration
#
#HACKDIR=NetHack:
#LEVELS=NetHack:levels
#SAVE=NetHack:save;n

# A 2-floppy, 2-megabyte configuration.
#
#HACKDIR=NetHack:
#LEVELS=df1:
#SAVE=df1:save

# A minimal configuration
HACKDIR=NetHack:
LEVELS=Nethack:levels
SAVE=Nethack:save

# *** CHARACTER GRAPHICS ***
#
# The 69 GRAPHICS characters (0-68) are:
#
# stone,
# walls: vertical, horizontal,
#	 4 corners: top left, top right, bottom left, bottom right,
#	 cross wall,
#	 4 T walls: upward, downward, left, right,
# doors: no door,
#	 open doors: vertical, horizontal,
#	 closed doors: vertical, horizontal,
# floor,
# corridors: unlit, lit,
# stairs up, stairs down, ladder up, ladder down,
# trap, web, altar, throne, sink, fountain, pool/moat, ice, lava,
# lowered drawbridge: vertical, horizontal,
# raised drawbridge: vertical, horizontal,
# air, cloud, water,
# 4 beams: vertical, horizontal, left slant, right slant,
# digging beam, camera flash beam, left boomerang, right boomerang,
# 4 magic shield display symbols,
# 8 swallowed: top left/middle/right, mid left/right, bottom left/mid/right,
# 9 explosion: [3 rows (top, middle, bottom) of 3 characters]
#
# If you specify fewer than 69 ASCII values, the remaining characters will be
# set to their respective defaults:
#	   ' '  |   -   -   -   -   -   -   -   -
#           |   |   .   -   |   +   +   .   #   #
#	    <   >   <   >   ^   "   _   \   #   {
#	    }   .   }   .   .   #   #  ' '  #   }
#	    |   -   \   /   *   !   )   (   0   #
#	    @   *   /   -   \   |   |   \   -   /
#	    /   -   \   |  ' '  |   \   -   /
#
# Note that the hack.font has special graphics characters from 192 on.

# An example using the hack.font graphics character set:
GRAPHICS = 032 192 193 194 195 196 197 198 216 214 \
	   215 213 046 193 192 198 198 046 229 035 \
	   060 062 060 062 094 034 095 092 035 123 \
	   125 042 125 042 042 035 035 046 035 125 \
	   241 240 242 243 042 033 123 125 064 038 \
	   042 035 244 245 246 247 239 248 249 250 \
	   230 234 231 236 212 237 232 235 233
# Monitors vary greatly in their color response.  If the default colors
# are not good on your monitor, here are some other alternatives:
#CBM 1960, set color/contrast for good pure red, green, and blue. True colors.
#PENS=000,fff,a61,7bb,0f0,e0c,00f,f00
#CBM 1960, set color/contrast as above, better colors for NetHack.
#PENS=667,fff,da1,7bb,2f0,e0d,0af,f42
#and one other suggestion:
#PENS=888,ffc,840,0b8,4e4,e8b,7be,a04
PENS=000,fff,830,7ae,181,c06,23e,c00
# for an "interlaced"+ line screen, the default is courier:13.  If you want
#  a different font, set it here.  The format is "fontname.font:size"; i.e. the
# .font extension is required.
#FONT=topaz.font:13
# Proportional fonts such as CGTimes are probably not a good idea because they
# result in many things not being spaced out correctly.
#FONT=CGTimes.font:15
# This sized proportional font is readable, but still has spacing problems
#FONT=CGTimes.font:21
