# A '#' at the beginning of a line means the rest of the line is a comment.
#
# This configuration file is set up for two cases, for a hard disk
# (as drive C:), and for two floppy disks.
#
# To change the configuration, comment out the unwanted lines, and
# uncomment the configuration you want.


# *** OPTIONS ***
#
# These two options should be used for most setups.  If you're machine isn't
# very IBM-compatible, and NetHack doesn't work, try commenting out this line.
#
OPTIONS=rawio,IBM_BIOS
# DEC Rainbows will hang if rawio is set, so they should instead use:
#OPTIONS=IBM_BIOS,DEC_Rainbow
#
#
# Some options to set personal preferences.  Uncomment and change these to
# suit your personal preference.  If several people are to use the same
# configuration, options like these should not be set.
#
#OPTIONS=name:Janet-V,female,dogname:Fido,catname:Morris,fruit:apricot
#OPTIONS=packorder:")[%?+/=!(*0_`,endgame:10 top/2 around/own
#
#
# Other general options.  You might also set "silent" so as not to attract
# the boss's attention.
#
OPTIONS=time,rest_on_space,nopickup,number_pad


# *** HARD DISK CONFIGURATION ***
#
HACKDIR=c:\games\nethack
#
#   LEVELS and SAVE default to HACKDIR
#
#LEVELS=c:\games\nethack\bones
#SAVE=c:\games\nethack\bones;n
#
#   appending a ";n" to SAVE means don't prompt to insert a disk.
SAVE=;n
#
#RAMDISK=d:


# *** 2-FLOPPY CONFIGURATION ***
#
# HACKDIR=a:\
# LEVELS=b:\
# SAVE=b:\
# RAMDISK=c:


# *** CHARACTER GRAPHICS ***
#
# The 32 GRAPHICS characters (0-31) are:
# stone, vertical wall, horizontal wall, top left corner, top right corner, 
# bottom left corner, bottom right corner, crosswall, up T wall, down T wall, 
# left T wall, right T wall, vertical beam, horizontal beam, left slant, right
# slant, no door, vertical open door, horizontal open door, closed door,
# floor, corridor, up stairs, down stairs, trap, web, pool,
# fountain, sink, throne, altar, up ladder, down ladder, vertical drawbridge
# wall, horizontal drawbridge wall 
#
# If you specify less that 35 ASCII values, the remaining characters will be
# set to their respective defaults.
#
#
# An example using the IBM graphics character set:
#	   ' '  |   -   .   .   `   '   -   -   -   -   -   |   -   \   /   .   -   |   +   .   #   <   >   ^   "   }   {   #   \   _   <   >   #   #
GRAPHICS = 032 179 196 218 191 192 217 197 193 194 180 195 179 196 092 047 249 239 239 254 249 177 060 062 094 157 247 244 035 190 220 060 062 186 205
# An alternative:
#GRAPHICS= 032 186 205 201 187 200 188 206 202 203 185 204 179 196 092 047 249 239 239 254 249 177 060 062 094 034 247 244 035 092 095 060 062 179 196
#
#
# Using the DEC Rainbow/ANSI line-drawing character set:
#
# You must also set the DECRainbow option, above.  NetHack will then switch
# into the line drawing character set for any values over 128 below.  Just
# add 128 to the value of any line-drawing character you want to use.  You
# can use characters from both sets this way.  These are also the characters
# to use for the ANSI ruling character set '0'.
#
#GRAPHICS= 032 248 241 236 235 237 234 238 246 247 245 244 248 241 092 047 254 241 248 043 254 225
